.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 6em;
  box-sizing: border-box;
}

.input,
.result {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.input {
  margin-right: 3em;
  background-color: #ddd;
}

.result {
  margin-left: 3em;
  border: 3px solid white;
}
